.desktop1-desktop1 {
  gap: 92px;
  width: 100%; 
  height: 695px; /* change */
  display: flex;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(87, 248, 245, 1) 0%, rgba(134, 245, 134, 1) 100%);
  align-items: center;
  flex-shrink: 0;
}

.desktop1dif-social-media-iconremovebgpreview1 {
  top: 53px;
  left: 700px; /* change */
  width: 124px;
  height: 119px;
  position: absolute;
}

.desktop1-text1 {
  top: 183px;
  left: 400px;/* change */
  color: rgba(0, 0, 0, 1);
  width: 708px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop1-text2 {
  top: 233px;
  left: 400px; /* change */
  color: rgba(0, 0, 0, 1);
  width: 708px;
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop1-frame3 {
  gap: 123px;
  top: 315px;
  left: 480px; /* change */
  width: 1px;
  height: 1px;
  margin-top: 20px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

.desktop1-group8 {
  width: 554px;
  height: 51px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop1-group7 {
  top: 0px;
  left: 0px;
  width: 47.81532669067383px;
  height: 51px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop1-facebook {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 51px;
  position: absolute;
}

.desktop1-group3 {
  top: 0px;
  left: 170.81533813476562px;
  width: 46.68916702270508px;
  height: 51px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop1-linkedin {
  top: 0px;
  left: 0px;
  width: 47px;
  height: 51px;
  position: absolute;
}

.desktop1-group5 {
  top: 0px;
  left: 340.5045471191406px;
  width: 46.56306838989258px;
  height: 51px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop1-instagram {
  top: 0px;
  left: 0px;
  width: 47px;
  height: 51px;
  position: absolute;
}

.desktop1-group6 {
  top: 0px;
  left: 510.0675964355469px;
  width: 43.56306838989258px;
  height: 51px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop1-envelope {
  top: 0px;
  left: 0px;
  width: 44px;
  height: 51px;
  position: absolute;
}

.desktop1-frame1 {
  margin-top: 20px;
  gap: 10px;
  top: 397px;
  left: 400px;
  width: 526px;
  height: 47px;
  display: flex;
  padding: 27px 370px; /* change */
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  justify-content: center;
  background-color: rgba(217, 217, 217, 1);
}

.desktop1-text3 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop1-frame2 {
  gap: 10px;
  top: 504px;
  left: 400px;
  width: 529px;
  height: 47px;
  display: flex;
  padding: 30px 370px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  justify-content: center;
  background-color: rgba(217, 217, 217, 1);
}

.desktop1-text4 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop1-text5 {
  top: 650px;
  left: 400px;
  color: rgba(0, 0, 0, 1);
  width: 708px;
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}